.body_pagPrincipal{
    background-color: #FFA737;
}

.conteudo{
    margin: 1.2rem;
    padding: 1.2rem;
    background-color: #dc851f;
    filter: drop-shadow(4px 4px 8px black);
}

.navegacao{
    border-bottom: 2px solid black;
    border-top: 2px solid black;;
}

table tr td, table tr th{
    background-color: rgba(211, 130, 240, 0) !important;
}

.container{
    margin-top: 1rem;
}

.logo_txt{
    color: yellow;
}

